<% if object.errors.any? %>
  <div id="error_explanation">
    <h3 class="center">
      The form contains <%= pluralize(object.errors.count, 'error') %>
    </h3>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>