<div class="modal fade cart-mod " tabindex="-1" role="dialog" aria-labelledby="cart-modal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body" id="current_cart">
        <%= render current_cart %>
      </div>
    </div>
  </div>
</div>
