.store {
  .row { padding: 5px; }
  [class^=col] { padding: 5px; }

  @media (max-width: $screen-xs-max) { .entry {height: 160px;} }
  @media (min-width: $screen-sm-min) { .entry {height: 180px;} }

  .entry {
    .last_line { right: auto; }
  }
}
