<h2>New Product</h2>

<%= render 'form' %>

<div class="bottom-line">
  <%= link_to '', products_path, class: 'back-but',
              title: 'Back to products', 'data-toggle' => 'tooltip', 'data-placement' => 'top' %>
</div>
