<style type="text/css">
  .center { text-align: center; }
  .res-header {
    padding: 5px 10px;
    font-size: 16pt;
    font-weight: bold;
  }
  .resume {
    margin: 10px;
    padding: 10px;
    color: #111111;
    background-color: #ffffff;
    font-family: arial, sans-serif;
    font-size: 11pt;
    border-radius: 6px;
  }
  .coloured {
    background-color: #c5edf8;
    border-radius: 6px;
  }
</style>

<div class="resume">
  <div class="res-header center coloured">Yuri Behey</div>

  <p>
    Lviv, Ukraine<br>
    <strong>Email: </strong>yuri.behey@gmail.com<br>
    <strong>Skype: </strong>rapidsoft.org<br>
    <strong>Tel: </strong>+38 (067) 740 73 00<br>
    <strong>GitHub: </strong><a href="https://github.com/t2dYuri" target="blank">
    github.com/t2dYuri</a><br>
    <strong>LinkedIn: </strong><a href="https://ua.linkedin.com/in/yuribehey" target="blank">
    ua.linkedin.com/in/yuribehey</a><br>
  </p>

  <div class="res-header center coloured">
    <span style="font-size: 11pt; font-style: italic; font-weight: normal">seeking for job as:</span><br>
    junior RUBY ON RAILS DEVELOPER
  </div>
  <hr>

  <div class="res-header coloured">Technical Skills</div>
  <p>Ruby on Rails (4.0+), Minitest, HTML, CSS/SASS, Bootstrap, AJAX, PostgreSQL, Git, Heroku, IDE: RubyMine</p>
  <hr>

  <div class="res-header coloured">Education</div>
  <p>1998 - 2004: Economic Cybernetics  at Lviv Academy of Commerce</p>

  <div class="res-header" style="font-size: 14pt">Self-Education</div>
  <p>2010 - 2012: Joomla! CMS, HTML, CSS, PHP & Javascript basics</p>
  <div>
    <strong>Some of my previous, non-RoR projects:</strong>
    <ul>
      <li>
        <a href="http://rapidsoft.org" target="blank">rapidsoft.org</a> - own IT-blog
      </li>
      <li>
        <a href="http://budmarket.net" target="blank">budmarket.net</a> - e-shop
      </li>
      <li>
        <a href="http://dnz40.rosvita.rv.ua" target="blank">dnz40.rosvita.rv.ua</a> - kindergarten
      </li>
    </ul>
  </div>
  <p>2014.11 - present: 'Ruby on Rails Tutorial (3rd ed.)' by M. Hartl; 'Agile Web Development with Rails 4' by Sam Ruby, and other...</p>

  <div>
    <strong>Training RoR projects with code samples:</strong>
    <ul>
      <li>
        <a href="https://yurik-blog.herokuapp.com" target="blank">yurik-blog.herokuapp.com</a>
        ( <a href="https://github.com/t2dYuri/blog" target="blank">GitHub Link</a> )
        &nbsp;- fully functional multiuser blog with Twitter-style following feature.<br>
        Login: test@mail.com, Pass: polikpol
      </li>
      <li>
        <a href="https://beshop.herokuapp.com" target="blank">beshop.herokuapp.com</a>
        ( <a href="https://github.com/t2dYuri/bshop" target="blank">GitHub Link</a> )
        &nbsp;- actual training e-shop example with session-based AJAX cart
      </li>
    </ul>
  </div>
  <hr>

  <div class="res-header coloured">Languages</div>
  <p><strong>English: </strong>intermediate, <strong>Ukrainian: </strong>native, <strong>Russian: </strong>fluent</p>
</div>
